{% load static %}
<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static '/reg/static/reg/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static '/reg/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap.css.map' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap.min.css.map' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap-grid.css.map' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap-grid.min.css.map' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap-reboot.css' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap-reboot.css.map' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static '/reg/css/bootstrap-reboot.min.css.map' %}">

<link rel="stylesheet" href="{% static '/reg/js/bootstrap.bundle.js' %}">
<link rel="stylesheet" href="{% static '/reg/js/bootstrap.bundle.js.map' %}">
<link rel="stylesheet" href="{% static '/reg/js/bootstrap.bundle.min.js' %}">
<link rel="stylesheet" href="{% static '/reg/js/bootstrap.bundle.min.js.map' %}">
<link rel="stylesheet" href="{% static '/reg/js/bootstrap.js' %}">
<link rel="stylesheet" href="{% static '/reg/js/bootstrap.js.map' %}">
<link rel="stylesheet" href="{% static '/reg/js/bootstrap.min.js' %}">
<link rel="stylesheet" href="{% static '/reg/js/bootstrap.min.js.map' %}">

<meta charset="UTF-8">
    <title>ERP Portal</title>
<div class="container" class = "col-sm">
    <header>

<nav  class="topnav-right" style="background-color: #e3f2fd;">
  <!-- Navbar content -->

    <img src="{% static '/reg/img/index.png' %}" class="img-fluid" alt="Responsive image" width="100px" height="100px" align="left">

            <button type="button" class="btn btn-light">
        <a href="/home">Home</a></button>

            <button type="button" class="btn btn-light">
     <a href="/student/">Student</a></button>


     <button type="button" class="btn btn-light">
        <a href="/teacher/">Teacher</a></button>


             <button type="button" class="btn btn-light">
       <a href="/institute/">Institute</a></button>
     <button type="button" class="btn btn-light">
       <a href="/bmicalc/">BMI Cal</a></button>
     <button type="button" class="btn btn-light">
       <a href="/signup/">Signup</a></button>
 <button type="button" class="btn btn-light">
       <a href="/login/">Login</a></button>
        <br><br>
</nav>

</header>

  </head>
</div>
<body>
  <div class = "container">{{ request.user.username }}
      {% block content %}
      {% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </div>

  </body>
</html>