    {% include "header.html" %}
    {% include "base.html" %}
      <br>
    <br>
<div class ="container">
<h3 align="center">
    Teacher Details
    <a href="/teacherform/">
        <input type="button" class="btn btn-success" value="Add Teacher- Custom Form" style="float: right" />
    </a>
<a href="/teacherformM/">
        <input type="button" class="btn btn-info" value="Add Teacher- Model Form" style="float: right"/>
</a>
   <a href="/t_downloadcsv/">
        <input type="button" class="btn btn-light" value="Download CSV" style="float: right"/>
</a>

</h3>
<table border="1" bgcolor="cyan" class="table table-striped">
    <thead style="bold" bgcolor ="grey"><td>Name</td><td>Email</td><td>Subject</td><td>Insitute</td><td>Edit</td><td>Delete</td></thead>
    {% for object in objects %}
       <tr><td>{{object.name}}</td><td>  {{object.email}} </td><td>{{object.subject}}</td><td>{{object.institute}}</td>

           <td> <a href="/teacher_edit/{{object.id}}/"><input type="button" class="btn btn-info" value="Edit"/></a> </td>
       <td> <input type="button" class="btn btn-danger" value="Delete"/></td>
       </tr>
    {% endfor%}
</table>

</div>

